<!DOCTYPE html>
<html class="dark">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                darkMode: 'class'
            }
        </script>
        
    </head>

    <body class="bg-gray-100 text-gray-800 m-10 dark:bg-gray-800 dark:text-white">
        <div class="w-full md:w-2/3 mx-auto mb-4 flex justify-between items-center">
            <div class="text-4xl">
                <a href='{{ path('app_index') }}'>Home</a>
                {% block bread %}
                {% endblock %}
            </div>

            <div class="text-right">
                <div class="text-sm text-gray-500 dark:text-gray-400 ">
                     {% if app.user %}
                    <div class="ml-2">
                        <a href='{{ path('app_logout') }}'>Logout</a>
                    </div>
                   {% else %}
                    <div class="ml-2">
                        <a href='{{ path('app_login') }}'>Login</a>
                    </div>
                    {% endif %}
                    {% if app.user %}
                    <div class="ml-2">
                        <a href="{{ path('app_employee') }}">All Employees</a>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') %}
                    <div class="ml-2">
                        <a href="{{ path('app_department') }}">All Departments</a>
                    </div>
                     {% endif %}
                     {% if app.user %}
                    <div class="ml-2">
                        <a href="{{ path('app_higher_salary') }}">Employees With Higher Salary than Superior</a>
                    </div>
                    <div class="ml-2">
                        <a href="{{ path('app_max_salary') }}">Employees With Highest Salary per Department</a>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') %}
                    <div class="ml-2">
                        <a href="{{ path('app_morethan_x', {'x': 1}) }}">Departments With More Than X Employees</a>
                    </div>
                    {% endif %}
                    {% if app.user %}
                    <div class="ml-2">
                        <a href="{{ path('different_supervisor_department') }}">Employees With Different Superior Department</a>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_MANAGER') %}
                    <div class="ml-2">
                        <a href="{{ path('highest_salary_expenditure') }}">Departments With Highest Total Salary Expenditure</a>
                    </div>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="ml-2">
                        <a href="{{ path('employee_subordinates', {'id': 1}) }}">Subordinates</a>
                    </div>
                    {% endif %}
                    </div>
                </div>
            </div>

            <div class="w-full md:w-2/3 mx-auto">
            {% for message in app.flashes('success') %}
                <div class="rounded-md p-2 border-green-300 bg-green-50 border dark:border-green-600 dark:bg-green-700 dark:text-white mb-4">{{ message }}</div>
            {% endfor %}
            {% block body %}
            {% endblock %}
        </div>
    </body>
</html>